#root {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  background-color: #fff;
}

.App {
  width: 100%;
}

.main-content {
  padding: 0px 65px;
  width: 100%-130px;
  height: auto;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header {
  background-color: #036;
  border-bottom: 2px solid #fcba19;
  padding: 0 65px 0 65px;
  color: #fff;
  display: flex;
  height: 65px;
  top: 0px;
  position: fixed;
  width: 100%;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.25)
}

header h1 {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  font-weight: 550;  /* 400 */
  font-size: 28px;
  margin: 5px 5px 0 18px;
  visibility: hidden;
}

header .banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px 0 0;
  /* border-style: dotted;
  border-width: 1px;
  border-color: lightgrey; */
}

header .other {
  display: flex;
  flex-grow: 1;
  /* border-style: dotted;
  border-width: 1px;
  border-color: lightgrey; */
}

.Beta-PhaseBanner {
  color: #fcba19;
  margin-top: -1em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

footer {
  background-color: #036;
  border-top: 2px solid #fcba19;
  color: #fff;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif; 
}

footer .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 46px;
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  color: #fff;
  list-style: none;
  align-items: center;
  height: 100%;
}

footer ul li a {
  font-size: 16px;
  font-weight: 600;  /* 400 */
  color: #fff;
  border-right: 1px solid #4b5e7e;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

:focus {
  outline: 4px solid #3B99FC;
  outline-offset: 1px;
}

.BC-Gov-PrimaryButton {
  background-color: #003366;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.BC-Gov-PrimaryButton:hover {
text-decoration: underline;
opacity: 0.80;
}

:focus {
outline: 4px solid #3B99FC;
outline-offset: 1px;
}

.BC-Gov-PrimaryButton:active {
opacity: 1;
}

/*
  These are sample media queries only. Media queries are quite subjective
  but, in general, should be made for the three different classes of screen
  size: phone, tablet, full.
*/

@media screen and (min-width: 600px) and (max-width: 899px) {
  header h1 {
    font-size: calc(7px + 2.2vw);
    visibility: visible;
  }
  .main-content {
    grid-template-columns: 1fr;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .main-content {
    grid-template-columns: 1fr;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 900px) {
  header h1 {
    font-size: 2.0em;
    visibility: visible;
  }
}