#root {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  background-color: #fff;
}

.App {
  width: 100%;
}

a {
  color: #307FE2;
}

a:hover {
  opacity: 0.80;
  text-decoration: underline;
}

:focus {
  outline: 4px solid #3B99FC;
  outline-offset: 1px;
}

/*
  These are sample media queries only. Media queries are quite subjective
  but, in general, should be made for the three different classes of screen
  size: phone, tablet, full.
*/

@media screen and (min-width: 600px) and (max-width: 899px) {
  header h1 {
    font-size: calc(7px + 2.2vw);
    visibility: visible;
  }
  .main-content {
    grid-template-columns: 1fr;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .main-content {
    grid-template-columns: 1fr;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 900px) {
  header h1 {
    font-size: 2.0em;
    visibility: visible;
  }
}