.notify-button {
    padding: 0.77em 1em 0.77em 1em;
    background-color: transparent;
    font-size: 1rem;
    border: none;
    margin-bottom: 4px;
    cursor: pointer;
}

:focus {
    outline: none;
}
